<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>


  <div>
    <ion-avatar id="avatar">
      <img src="https://cdn3.f-cdn.com/contestentries/1376995/30494909/5b566bc71d308_thumb900.jpg">
    </ion-avatar>
  </div>
  <div id="jane">
    <p>Jane</p>
  </div>
  <div id="sanfransisco">
    <p>San Fransisco, California</p>
  </div>
  <div id="email">
    <p>Email: jane@gmail.com</p>
  </div>
</ion-content>